@import '../../assets/stylus/index.styl'

.Brand
  margin 0
  display inline-block
  font-weight 800
  font-size 28px
  line-height 1
  span
    font-weight 500
    font-size inherit
  &__link
    color $secondary-color
    &:hover
      text-decoration none
