
#__nuxt,
#__nuxt > div:last-child
  width 100%
  height 100%
.error404
  display table
  width 100%
  height 100%
  background-color $primaryColor
  &__inner
    display table-cell
    vertical-align middle
    text-align center
    padding-right 2rem
    padding-left 2rem
    +above(md)
      padding-right 5rem
      padding-left 5rem
    +above(xlg)
      padding-right 10rem
      padding-left 10rem
  h1,
  h2
    padding-bottom $spacingSmall
    color #fff
    margin 0
  h1
    font-size 10vw
    +above(sm)
      font-size 8vw
    +above(md)
      font-size 7vw
    +above(lg)
      font-size 4vw
  h2
    font-family $fontFamilyBase
    font-weight $fontWeightLight
    font-size 7vw
    span
      display block
    strong
      color $tertiaryColor
      text-decoration underline
    +above(sm)
      font-size 5vw
    +above(md)
      font-size 4vw
    +above(lg)
      font-size 2vw
  &__social-icons
  &__bottom-description
    position absolute
    bottom 1rem
    width 100%
    right 0
    left 0
    z-index 5
    text-align center
    &, a
      color #fff
