@keyframes slideInTop
  0%
    transform translateY(-1000px)
    opacity 0
  100%
    transform translateY(0)
    opacity 1

@keyframes trackingInExpand
  0%
    letter-spacing -0.5em
    opacity 0
  40%
    opacity 0.6
  100%
    opacity 1

@keyframes fadeInBottom
  0%
    transform translateY(50px)
    opacity 0
  100%
    transform translateY(0)
    opacity 1
