.button
  display inline-block
  position relative
  font-size 1rem /* 16/16 */
  text-align center
  text-decoration none
  cursor pointer
  vertical-align bottom
  appearance none
  text-rendering auto
  user-select none
  box-sizing border-box
  font-family $font-family-base
  transition color .12s $timingFunction,
    background-color .12s $timingFunction
  padding .625rem /* 10/16 */ 1.875rem /* 30/16 */
  letter-spacing 0
  font-weight 700
  border-radius 1.6875rem /* 27/16 */
  border .125rem /* 2/16 */ solid transparent
  text-transform uppercase
  font-style normal
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -moz-font-feature-settings "liga" on
  svg
    fill inherit

.button--primary
  color $primary-color
  background-color transparent
  border-color $primary-color
  svg
    fill $primary-color
  &:hover,
  &:focus
    color #fff
    background $primary-color
    border-color $primary-color
    svg
      fill #fff

.button--secondary
  color #fff
  background-color $secondary-color
  border-color $secondary-color
  svg
    fill #fff
  &:hover,
  &:focus
    color $secondary-color
    background transparent
    border-color lighten($secondary-color, 10%)
    svg
      fill $secondary-color

.button--disabled
  cursor not-allowed
  color rgba($secondary-color, .4)
  border-color rgba($secondary-color, .2)
  svg
    fill rgba($secondary-color, .4)
  &:hover,
  &:focus
    color rgba($secondary-color, .6)
    border-color rgba($secondary-color, .4)
    svg
      fill rgba($secondary-color, .6)

.title
  margin 0
  font-size 1.75rem /* 28/16 */
  &:before
    content '{ '
  &:after
    content ' }'
  +above($tablet)
    font-size 2.375rem /* 38/16 */

.divider
  position relative
  &:after
    content ''
    display block
    width 2.5rem /* 40/16 */
    height .25rem /* 4/16 */
    background-color rgba(#000, .08)
    margin-top 1.875rem /* 30/16 */
