html
  font-size $fontSizeUnit
  word-spacing 1px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  font-feature-settings "calt" 1
  text-rendering optimizeLegibility

*, *:before, *:after
  box-sizing inherit
  margin 0
  transition .4s cubic-bezier(0.18, 0.98, 0.45, 1)

html,body
  width 100%
  height 100%

body
  font-family $fontFamilyBase
  font-size $fontSizeBase
  line-height $lineHeightBase
  font-weight $fontWeightMedium
  background-color $primaryColor
  letter-spacing $letter$spacingBase
  color $baseColor
  margin 0
  padding 0
  &.noscroll
    overflow hidden

hr
  border none
  border-bottom 1px solid rgba(#000, .2)
  max-width 80px
  height 10px
  margin $spacingLarge auto
  position relative

figure
  margin 0
  padding 0

.nuxt-link-exact-active
  pointer-events none

.MainContent
  padding-bottom $spacingSmall
  background-color #f7f9fb
  position relative
  z-index 2
