@import '../../assets/stylus/index.styl'

.Footer
  width 100%
  padding 15px
  background-color #fff
  border-top 1px solid rgba(#000, .125)
  text-align center
  strong, address, a
    font-weight 800
  address
    display inline
  p
    font-size 12px
    opacity 0.75
    margin 0
    +above($tablet)
      font-size 14px
  a
    text-decoration underline
